<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.binozoworks.playback_capture.playback_capture">


    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".MediaCaptureService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q"
            />
    </application>
</manifest>
